{% extends 'base.html.twig' %}

{% block body %}

	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="page-content">

					{# <!-- ***** Banner Start ***** --> #}
					<div class="row">
						<div class="col-lg-12">
							<div class="main-profile ">

                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="main-button">
                                            <a href="{{ path('app_livre') }}">Retour</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
										<input type="checkbox" id="statusEnregistrement" name="statusEnregistrement" value="false">
                                        <label for="statusEnregistrement"><h6>Enregistrer</h6></label>
									</div>
                                    <div class="col-lg-3">
										<input type="checkbox" id="statusLecture" name="statusLecture" value="true">
                                        <label for="statusLecture"><h6>Lu</h6></label>
									</div>
                                    <div class="col-lg-3">
                                        <div class="main-button">
                                            <a href="{{ path('app_lecture') }}">Relire</a>
                                        </div>
                                    </div>
                                </div>
                                <br>
								<div class="row">
									<div class="col-lg-6">
										<img src="images/profile.jpg" alt="" style="border-radius: 23px;">
									</div>
									<div class="col-lg-6 align-self-center">
										<ul>
											<li>Titre :  <span>zous la cendre le feu de fr gthhygb bgttyuuuijjiookoppplij</span></li>
											<li>Auteur : <span>16</span></li>
											<li>Genre <span>None</span></li>
                                            <li>Editeur <span>None</span></li>
                                            <li>Date publication <span>None</span></li>
											<li>Nombre page <span>29</span></li>
                                            <li>Langue <span>29</span></li>
										</ul>
									</div>
									{# <div class="col-lg-4 align-self-center">
										<div class="main-info header-text">
											<span>Offline</span>
											<h4>Alan Smithee</h4>
											<p>You Haven't Gone Live yet. Go Live By Touching The Button Below.</p>
											<div class="main-border-button">
												<a href="#">Start Live Stream</a>
											</div>
										</div>
									</div> #}
								</div>

								<div class="row">
									<div class="col-lg-12">
										<div class="clips">
											<div class="row">
												<div class="col-lg-12">
													<div class="heading-section">
														<h4><em>Mes</em> notes</h4>
													</div>
												</div>

												<div class="col-lg-12 align-self-center">
													<div class="main-info header-text">
														<p>You Haven't Gone Live yet. Go Live By Touching The Button Below.</p>
													</div>
												</div>
                                                <br>
                                                <div class="col-lg-12">
                                                    <div class="main-button">
                                                        <a href="#">Enregistrer les modifications</a>
                                                    </div>
                                                </div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
					{# <!-- ***** Banner End ***** --> #}


					{# <!-- ***** Gaming Library Start ***** --> #}
					<div class="gaming-library profile-library">
						<div class="col-lg-12">
							<div class="heading-section">
								<h4><em>Mes</em> commentaires</h4>
							</div>
							<div class="item">
								<ul>
									<li><img src="assets/images/game-02.jpg" alt="" class="templatemo-item"></li>
									<li>
										<h4>Fortnite</h4>
										<span>Sandbox</span>
									</li>
									<li>
										<h4>Date Added</h4>
										<span>22/06/2036</span>
									</li>
									<li>
										<h4>Hours Played</h4>
										<span>745 H 22 Mins</span>
									</li>
									<li>
										<h4>Currently</h4>
										<span>Downloaded</span>
									</li>
									<li>
										<div class="main-border-button border-no-active">
											<a href="#">Donwloaded</a>
										</div>
									</li>
								</ul>
							</div>
							
						</div>
					</div>
					{# <!-- ***** Gaming Library End ***** --> #}


				</div>
			</div>
		</div>
	</div>


{% endblock %}
